@page
@using Kendo.Mvc.UI
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()
@model ExceptionsModel
@{
    ViewData["Title"] = "Exceptions";
}
<br />
<h4>@Html.Label("application", "Apps")</h4>
@(Html.Kendo().DropDownList()
        .Name("apps")
        .DataTextField("AppName")
        .DataValueField("AppId")
        .HtmlAttributes(new { style = "width:300px;" })
        .OptionLabel("Vælg Applikation...")
        .Events(e => e.Change("onChange"))
        .Filter(FilterType.Contains)
        .DataSource(ds => ds
            .Custom()
            .Transport(transport => transport
                .Read(r => r
                    .Url(Url.Content("~/Exceptions?handler=AppList")).Data("forgeryToken")
                ))
            )
        .FooterTemplate("Total number of <strong>#: instance.dataSource.total() #</strong> apps found")
        )
<br />
<br />
@(Html.Kendo().Grid<ScanAppWeb.Models.ExViewModel>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(e => e.Date)
                  .Width(200)
                  .HtmlAttributes(new { style = "font-size:10pt;" });
              columns.Bound(e => e.FileName)
                  .Width(275)
                  .HtmlAttributes(new { style = "font-size:10pt;" });
              columns.Bound(e => e.ExMsg)
                      .Title("Exception")
                      .HtmlAttributes(new { style = "font-size:8pt;" });
              columns.Command(command => command.Custom("Details").Click("showDetails")).Width(100);
              columns.Command(command => command.Destroy()).Width(100);
          })
          .Pageable()
          .Sortable(sortable =>
          {
              sortable.SortMode(GridSortMode.SingleColumn);
          })
          .AutoBind(false)
          .DataSource(dataSource => dataSource
              .Ajax()
              .ServerOperation(false)
              .PageSize(10)
              .Model(model => { model.Id(e => e.ExceptionId);  })
              .Read(r => r.Url(Url.Content("~/Exceptions?handler=Read")).Data("additionalData"))
              .Destroy(r => r.Url(Url.Content("~/Exceptions?handler=Destroy")).Data("forgeryToken"))
          )
    )

<script type="text/x-kendo-template" id="template">
    <div id="details-container">
        <p>#= ExMsg #</p>
        <p>File: #= FileName #</p>
        <ul>
        <em>
            <li>Line: #= Index #</li>
            <li>Date: #= Date #</li>
            <li>Previous lines: #= PreLines #</li>
        </em>
        </ul>
    </div>
</script>

<script type="text/javascript">
    var wnd, detailsTemplate;
    $(document).ready(function () {
        wnd = $("#details")
            .kendoWindow({
                title: "Exception Details",
                modal: true,
                visible: false,
                resizable: false,
                width: 300
            }).data("kendoWindow");
        detailsTemplate = kendo.template($("#template").html());
    });

    function showDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();
    }
    function dataFunction() {
        var value = $("#apps").getKendoDropDownList().filterInput.val();
        return {
            __RequestVerificationToken: kendo.antiForgeryTokens().__RequestVerificationToken,
            filterValue: value
        };
    }

    function additionalData(e) {
        var value = $("#apps").data("kendoDropDownList").value();
        return {
            __RequestVerificationToken: kendo.antiForgeryTokens().__RequestVerificationToken,
            appid: value
        }; 
    }

    function onChange() {
        $('#grid').data('kendoGrid').dataSource.read();
    }

    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }
</script>

<style>
    #details-container {
        padding: 10px;
    }
    #details-container h2 {
        margin: 0;
    }
    #details-container em {
        color: #8c8c8c;
    }
    #details-container dt {
        margin: 0;
        display: inline;
    }
</style>