@page
@model ScanApp.Web.Pages.AppFilters.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Filter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Filter.FilterId" />
            <div class="form-group">
                <label asp-for="Filter.Value" class="control-label"></label>
                <input asp-for="Filter.Value" class="form-control" />
                <span asp-validation-for="Filter.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filter.AppName" class="control-label"></label>
                <input asp-for="Filter.AppName" class="form-control" />
                <span asp-validation-for="Filter.AppName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
